*{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	font-family:'宋体';
}
a{
	text-decoration:none;
	font-size:12px;
}
a:hover{
	color:#F40;
}
i,em{
	font-style:normal;
}
/*nav*/
.nav{
	width:100%;
	height:37px;
	background:#f5f5f5;
}
.nav_c{
	width:1200px;
	height:37px;
	margin:0 auto;
	line-height:37px;
}
.nav img{
	vertical-align:middle;
	margin:-5px 5px 0 0;
}
.nav i{
	display:inline-block;
	color:#aaa;
	font-size:10px;
	-webkit-transform:rotate(90deg);
	margin-left:8px;
}
.nav .ul_left,.nav .ul_right{
	float:left;
}
.nav .ul_left{
	margin-right:300px;
}
.nav .ci,.nav .my,.nav .box,.nav .sale,.nav .kefu,.nav .dao{
	position:relative;
	width:74px;
	margin-right:2px;
	padding:0 3px;
}
.nav .dao{
	width:84px;
}
.nav .ci:hover,.nav .my:hover,.nav .box:hover,.nav .sale:hover,.nav .kefu:hover,.nav .dao:hover{
	background:#fff;
}
.nav li{
	float:left;
	margin-right:20px;
	font-size:12px;
	color:#000;
}
.nav li a{
	color:#000;
}
.nav li a:hover{
	color:#f40;
}
.nav .text{
	margin-left:15px;
	color:#ddd;
}
.nav li div{
	background:#fff;
	border:1px solid rgb(238,238,238);
	border-top:none;
	position:absolute;
	top:37px;
	left:-1px;
	display:none;
	z-index:99;	
}
.city{
	width:250px;
	height:285px;
	
}
.city ul{
	height:280px;
	overflow-y:scroll;
	padding-top:5px;
	
}
.city li,.load li,.shop li,.sale_c li,.kefu_c li{
	float:none;
	line-height:28px;
	margin-right:0;
	text-indent:10px;
}
.city li:hover,.load li:hover,.shop li:hover,.sale_c li:hover,.kefu_c li:hover{
	cursor:pointer;
	background:#f4f4f4;
}
.load{
	width:83px;
	height:72px;
}
.load ul,.shop ul,.sale_c ul,.kefu_c ul{
	padding-top:10px;
}
.load li,.shop li,.sale_c li,.kefu_c li{
	text-indent:5px;
}
.load li a:hover,.shop li a:hover,.sale_c li a:hover,.kefu_c li a:hover{
	color:#000;
}
.shop{
	width:70px;
	height:72px;
}
.sale_c{
	width:82px;
	height:210px;
}
.kefu_c{
	width:70px;
	height:71px;
}
.nav li .dao_c{
	width:1198px;
	height:310px;
	left:-1110px;
}
.nav .dao_c div{
	border-bottom:none;
	border-left:none;
	left:0;
	top:2px;
	width:288px;
	height:307px;
	padding-left:10px;
}
.dao_c div h2{
	font-size:16px;
	
}
.dao_c .sub h2{
	color:#f40;
}
.dao_c div ul{
	float:left;
	margin-right:15px;
}
.dao_c div ul li{
	float:none;
	width:40px;
	line-height:30px;
	text-align:center;
}
.dao_c div ul li:hover{
	color:#fff;
	cursor:pointer;
}
.dao_c div ul li img{
	vertical-align:top;
	margin-right:-2px;
}
.dao_c .sub ul li:hover{
	background:#f40;
}
/*特色市场*/
.nav .dao_c .tese{
	left:300px;
}
.dao_c .tese h2{
	color:#a6bd46;
}
.dao_c .tese ul li:hover{
	background:#a6bd46;
}
.dao_c .tese ul li{
	width:60px;
}
/*阿里app*/
.dao_c .app h2{
	color:#d75696;
}
.nav .dao_c .app{
	left:600px;
}
.dao_c .app ul li:hover{
	background:#d75696;
}
.dao_c .app ul li{
	width:60px;
}
/*精彩推荐集*/
.dao_c .intro h2{
	color:#40a7de;
}
.nav .dao_c .intro{
	left:900px;
	border-right:none;
}
.dao_c .intro ul li:hover{
	background:#40a7de;
}
.dao_c .intro ul li{
	width:60px;
}
.dao_c .intro ul{
	margin-right:25px;
}
/*logo*/
.logo{
	width:100%;
	height:70px;
}
.logo_c{
	width:1150px;
	height:70px;
	margin:0 auto;
}
.logo img,.logo .more_m,.logo .search{
	float:left;
}
.logo img{
	margin-top:16px;
}
.logo .more_m{
	margin:25px 525px 0 20px;
	width:70px;
	height:20px;
	line-height:20px;
	border:1px solid #e2e2e2;
	color:#666;
	text-align:center;
	font-size:12px;
}
.logo .more_m span{
	color:#ddd;
	display:inline-block;
	font-weight:bold;
	font-size:10px;
	transform:rotate(90deg);
	margin-left:5px;
}
.logo .search{
	margin-top:20px;
}
.logo .search input{
	width:280px;
	height:26px;
	border:2px solid #f40;
}
.logo .search a{
	display:inline-block;
	font-size:12px;
	text-align:center;
}
.logo .search a:nth-child(2){
	color:#fff;
	background:#f40;
	width:72px;
	height:30px;
	line-height:30px;
	margin:1px 0 0 -10px;
}
.logo .search a:nth-child(2):hover{
	background:#f22b00;
}
.logo .search a:nth-child(3){
	color:#f40;
	background:#ffe4d0;
	border:1px solid #ffb086;
	width:70px;
	height:28px;
	line-height:28px;
}
.logo .search a:nth-child(3):hover{
	background:#ffd9b3;
}
/*店铺头图*/
.header{
	width:100%;
	height:145px;
}
.header_c{
	width:950px;
	height:145px;
	margin:0 auto;
}
/*头图设置*/
.header h2{
	width:950px;
	height:115px;
	line-height:100px;
	text-align:center;
	font-size:34px;
	font-family:'Microsoft Yahei';
	margin:0 auto;
	background:url(../images/bg1.jpg) no-repeat top center;
}
/*头图下方文字设置*/
.header ul li div{
	width:157px;
	height:240px;
	padding:15px 0 0 15px;
	background:rgba(255,255,0,0.5);
	position:absolute;
	top:15px;
	left:-15px;
	display:none;
	z-index:5;
}
.header ul li{
	float:left;
	font-size:12px;
	color:#666;
	margin:10px 0 0 20px;
	cursor:pointer;
	position:relative;
}
.header ul li span{
	display:inline-block;
	width:13px;
	height:9px;
	margin-left:15px;
	background:url(../images/bg1.png) no-repeat -205px -10px;
}

.header ul li a{
	color:#666;
}
.header ul li a:hover{
	color:#999;
}
/*商品详情，放大镜*/
.detail{
	width:100%;
	height:628px;
	margin-bottom:20px;
}
.detail_c{
	width:1120px;
	height:610px;
	padding:18px 0 0 15px;
	margin:0 auto;
	border:1px solid #ddd;
	border-right:none;
}
.image,.money,.shop_intro{
	float:left;
}
.image{
	width:400px;
	height:550px;
	position:relative;
	margin-right:20px;
}
/*中图*/
.small{
	width:400px;
	height:400px;
	position:absolute;
	top:0;
	left:0;
}
.small img{
	width:100%;
}
.move{
	width:200px;
	height:200px;
	background:rgba(61,110,206,0.3);
	position:absolute;
	top:0;
	left:0;
	display:none;
}
.big{
	width:400px;
	height:400px;
	border:1px solid #ddd;
	position:absolute;
	top:0;
	left:415px;
	overflow:hidden;
	display:none;
	z-index:10;
}
.big img{
	position:absolute;
}
.toggle{
	width:400px;
	height:54px;
	position:absolute;
	top:410px;
	left:0;
}
.toggle li{
	float:left;
	width:50px;
	height:50px;
	margin:0 6px;
	border:2px solid #fff;
}
.toggle li:hover{
	border:2px solid #f40;
}
.toggle li img{
	width:50px;
}
.image p{
	font-size:12px;
	color:#333;
	position:absolute;
	bottom:50px;
	left:0px;
}
.image p i{
	display:inline-block;
	width:17px;
	height:17px;
	background:url(../images/saler_4.png) no-repeat;
	margin-top:-5px;
	margin-right:5px;
	vertical-align:middle;
}
.image p i:nth-child(1){
	background-position:-120px 2px;
}
.image p i:nth-child(2){
	background-position:-100px 2px;
}
/*价格*/
.money{
	width:480px;
	height:607px;
	margin-right:20px;
}
.money h1{
	font-size:16px;
	margin-bottom:15px;
}
.money p{
	font-size:12px;
	color:#333;
	margin-bottom:5px;
}
.money p img{
	margin-right:3px;
}
.money .price{
	width:470px;
	height:65px;
	background:#fff2e8;
	position:relative;
	padding:15px 0 0 10px;
}
.money .price p{
	color:#999;
	height:30px;
}
.money .price p em{
	color:#f40;
	font-size:20px;
	font-weight:bold;
	font-family:'Microsoft Yahei';
	margin-left:20px;
}
.money .price p span{
	display:inline-block;
	width:50px;
	height:18px;
	line-height:18px;
	text-align:center;
	color:#fff;
	font-size:12px;
	background:#ff8e1b;
	margin:0 10px 0 15px;
}
.money .price p a{
	color:#999;
	border-bottom:1px dotted #999;
}
.money .price p a:hover{
	color:#f40;
}
.money .price .yimai{
	position:absolute;
	top:0;
	right:0;
}
.money .price .yimai li{
	float:left;
	color:#999;
	font-size:12px;
	text-align:center;
	border-right:1px solid #ddd;
	padding:5px;
}
.money .price .yimai li b{
	display:block;
	font-size:18px;
	color:#666;
	margin-bottom:3px;
}
.money .onsale{
	width:460px;
	height:70px;
	background:#fff9f5;
	padding:10px;
}
.money .onsale .jin{
	color:#333;
	font-size:12px;
	margin-bottom:5px;
}
.money .onsale .jin span{
	display:inline-block;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	border-radius:9px;
	background:#ffd527;
	border:1px solid #e09e38;
	color:#c06508;
	margin:0 5px 0 25px;
}
.money .onsale .jin em{
	color:#f40;
	margin-left:5px;
	font-size:14px;
}
.money .onsale .quan{
	margin-left:55px;
	height:20px;
}
.money .onsale p:nth-child(2){
	border-top:1px solid #fff2e8;
	padding-top:5px;
}
.money .onsale .quan img{
	vertical-align:middle;
	margin-right:10px;
}
.money .onsale .quan a{
	color:#f40;
	border-bottom:1px dotted #f40;
	margin-left:10px;
}
.money .delivery{
	width:430px;
	height:25px;
	line-height:8px;
	margin-top:15px;
	border-bottom:1px dotted #6c6c6c;
	position:relative;
	color:#333;
	font-size:12px;
	
}
.money .delivery ul,.money .delivery p{
	float:left;
}
.money .delivery ul{
	margin:-6px 5px 0 5px;
}
.money .delivery .tog{
	background:#f50;
	color:#fff;
}
.money .delivery li{
	float:left;
	max-width:88px;
	height:18px;
	line-height:18px;
	border:1px solid transparent;
}
.money .delivery li:hover{
	border:1px solid #f40;
	color:#f40;
	background:#fff2e8;
}
.money .delivery li i{
	display:inline-block;
	width: 13px;
    height: 9px;
    margin-left:5px;
    background: url(../images/bg1.png) no-repeat -205px -10px;
}
.money .delivery span{
	position:absolute;
	font-size:10px;
	bottom:-5px;
	right:-50px;
}
.money .size{
	margin-top:10px;
	height:50px;
	width:480px;
}
.money .size li{
	float:left;
	width:22px;
	height:26px;
	line-height:26px;
	text-align:center;
	border:1px solid #dcdcdc;
	font-size:12px;
	color:#999;
	margin-right:10px;
	cursor:pointer;
	font-family:'Microsoft Yahei';
}
.money .size li:hover{
	border:1px solid #f40;
}
.money .size .togg{
	border:1px solid #f40;
	color:#f40;
}
.detail .money .tit{
	color:#333;
	border:none;
	width:50px;
	text-align:left;
	margin-right:20px;
	font-size:12px;
	float:left;
}
.money .color{
	clear:both;
	width:480px;
	height:55px;
}
.money .color li{
	float:left;
	margin-right:10px;
	padding:2px;
	border:1px solid #dcdcdc;
	cursor:pointer;
}
.money .color .toggl{
	border:1px solid #f40;
}
.money .color li:hover{
	border:1px solid #f40;
}
.money .num{
	clear:both;
	width:480px;
	height:50px;
}
.money .num li{
	float:left;
	border:1px solid #c6c6c6;
	width:26px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:#ededed;
	color:#3c3c3c;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}
.money .num li:nth-child(2){
	border-left:none;
	border-right:none;
	width:48px;
	background:#fff;
	cursor:text;
}
.money .num em{
	font-size:12px;
	margin-left:5px;
	line-height:26px;
}
.money .pro,.money .pay{
	width:480px;
	height:40px;
	line-height:40px;
}
.money .pro li,.money .pay li{
	float:left;
	margin-right:15px;
	font-size:12px;
	cursor:pointer;
	position:relative;
	cursor:pointer;
}
/*.money .pro li .anima{
	position:absolute;
	-webkit-animation:tiao 0.5s ease 0s 1 normal;
}
设置动画开始
@keyframes tiao{
	0%{left:0px;top:0px}
	50%{left:0px;top:-5px}
	100%{left:0px;top:-1px}
}*/
.money .pro li img,.money .pay li img{
	margin:-5px 5px 0 0 ;
	vertical-align:middle;
}
.money .btn{
	width:480px;
	height:50px;
	padding-top:10px;
}
.money .btn a{
	display:inline-block;
	height:38px;
	line-height:38px;
	text-align:center;
	font-size:16px;
	border-radius:3px;
}
.money .btn a:nth-child(1){
	width:134px;
	background:#ffe4d0;
	border:1px solid #f0cab6;
	color:#e5511d;
}
.money .btn a:nth-child(2){
	width:180px;
	background:#f40;
	border:1px solid #f40;
	color:#fff;
}
.money .btn a:nth-child(2) img{
	vertical-align:middle;
	margin:-5px 5px 0  0;
}
.shop_intro{
	width:200px;
	height:554px;
	margin-top:-19px;
	
}
.ser{
	width:170px;
	height:243px;
	border:1px solid #ffe2a3;
	background:url(../images/saler_1.png) no-repeat top center;
	padding:45px 15px 0;
}
.ser h4{
	font-size:12px;
	margin-bottom:10px;
}
.ser .con{
	border-bottom:1px dotted #c6c6c6;
	padding-bottom:10px;
}
.ser .con li{
	font-size:12px;
	color:#333;
	cursor:pointer;
	margin-bottom:3px;
	height:20px;
	line-height:20px;
	position:relative;
}
.ser .con li img{
	margin-right:2px;
}
.ser .con li i{
	display:inline-block;
	width:70px;
	height:17px;
	background:url(../images/saler_3.gif) no-repeat 0 -3px;
	cursor:pointer;
}
.ser .con li span{
	position:absolute;
	top:-1px;
	left:35px;
	display:inline-block;
	width:19px;
	height:19px;.
	cursor:pointer;
	background:url(../images/saler_4.png) no-repeat 0 -17px;
}
.ser .con li span:nth-child(2){
	background:url(../images/saler_4.png) no-repeat -279px -77px;
	left:55px;
}
.ser .con li em{
	display:inline-block;
	width:38px;
	height:14px;
	line-height:14px;
	color:#00ba97;
	border:1px solid #00ba97;
	position:absolute;
	top:2px;
	left:72px;
	cursor:pointer;
}
.ser .sc{
	margin-top:10px;
}
.ser .sc li{
	float:left;
	width:35px;
	height:35px;
	margin-right:15px;
	padding-right:5px;
	border-right:1px solid #ddd;
	font-size:12px;
}
.ser .sc li span{
	color:#f40;
}
.ser .sc li span i{
	display:inline-block;
	width:10px;
	height:10px;
	margin:5px 0 0 2px;
	cursor:pointer;
	background:url(../images/saler_4.png) no-repeat -392px 0;
}
.ser div{
	clear:both;
}
.ser div a{
	display:inline-block;
	width:78px;
	height:28px;
	line-height:28px;
	text-align:center;
	border:1px solid #ededed;
	background:#fafafa;
	border-radius:3px;
	color:#333;
	margin-top:15px;
}
.ser div a:hover{
	background:#eee;
}
/*看了又看*/
.more{
	width:185px;
	height:325px;
	padding:15px 0 0 15px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.more h4{
	font-size:12px;
	margin-bottom:10px;
}
.more h4 img{
	margin-left:105px;
	vertical-align:middle;
}
.more div{
	width:82px;
	height:105px;
	float:left;
}
.more div img{
	border:1px solid transparent;
}
.more div img:hover{
	border:1px solid #f40;
}
.more div p{
	color:#f40;
	font-weight:bold;
	font-size:14px;
	font-family:'Microsoft Yahei';
	text-align:center;
}
/*宝贝详情等*/
.comment{
	width:100%;	
}
.comment_c{
	width:1135px;
	margin:0 auto;
}
.change,.change1{
	width:1135px;
	height:45px;
	border:1px solid #e5e5e5;
	margin:0 auto;
	background:#F6F6F6;
	border-bottom:none;
}
/*不显示  吸顶的导航栏*/
.change1{
	display:none;
	position:fixed;
	top:0;
	z-index:999;
}
.change1 .change_buy{
	width:200px;
}
.change1 .change_buy p{
	margin-left:45px;
}
.change1 .change_buy div{
	right:-10px;
}
.change1 .phone{
	width:140px;
	height:45px;
	line-height:45px;
	text-align:center;
	color:#fff;
	background:#f40;
	margin-left:783px;
	padding-left:20px;
	border-bottom:1px solid #e5e5e5;
	cursor:pointer;
}
.change1 .phone img{
	float:left;
	vertical-align:middle;
	margin-top:10px;
	margin-right:-10px;
}
.change1 .phone p{
		height:45px;
}
.change_soso,.change_nav,.change_buy{
	float:left;
}
.change_soso{
	width:167px;
	height:25px;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding:10px 11px;
	position:relative;
} 
.change_soso input{
	width:135px;
	height:24px;
	border:1px solid #c5c5c5;
	border-right:none;
}
.change_soso a{
	display:inline-block;
	width:30px;
	height:26px;
	background:#f40 url(../images/soso.png) no-repeat center;
	background-size:20px 20px;
	position:absolute;
	top:10px;
	right:12px;
}
.change_nav li{
	float:left;
	width:130px;
	height:43px;
	line-height:43px;
	text-align:center;
	font-size:14px;
	border-top:2px solid transparent;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	cursor:pointer;
}
.change_nav .click{
	border-top:2px solid #f40;
	color:#f40;
	background:#fff;
	border-bottom:none;
}
.change_nav li span{
	color:#f40;
	font-family:'Microsoft Yahei';
	font-weight:bold;
	margin-left:5px;
}
.change_buy{
	width:552px;
	height:45px;
	line-height:45px;
	font-size:14px;
	border-bottom:1px solid #e5e5e5;
	text-align:right;
	position:relative;
}
.change_buy p{
	width:135px;
	height:45px;
	margin-left:190px;
	padding-right:30px;
}
.change_buy p:hover{
	background:#e5e5e5;
}
.change_buy img{
	vertical-align:middle;
	margin-top:-5px;
}
.change_buy div{
	width:155px;
	height:155px;
	padding:5px;
	border:1px solid #e5e5e5;
	position:absolute;
	top:45px;
	right:197px;
	display:none;
	z-index:15;
}
.all,.switch_ch,.empty{
	float:left;
}
.all{
	width:190px;
}
.all h3{
	width:190px;
	height:66px;
	background:url(../images/hbg1.jpg) no-repeat;
	font-size:14px;
	padding:28px 0 0 52px;
}
.all .cla li{
	background:url(../images/l-bg.jpg) no-repeat;
	width:190px;
	height:30px;
	line-height:30px;
	font-size:14px;
	margin-bottom:5px;
	font-family:'Microsoft Yahei';
}
.all .cla li span{
	display:inline-block;
	width:10px;
	height:10px;
	line-height:9px;
	text-align:center;
	font-size:10px;
	border:1px solid #333;
	margin-left:15px;
}
.all .cla li a{
	color:#333;
}
.all .cla li a:hover{
	text-decoration:underline;
}
.all .cla .none{
	width:190px;
	height:30px;
	line-height:30px;
	text-indent:20px;
	margin-top:-5px;
}
.all .cla .nonee{
	display:none;
}
.all .cla .none a{
	color:#333;
}
.all .ser_bd{
	font-size:12px;
}
.all .ser_bd input{
	height:26px;
	border:1px solid #ccc;
}
.all .ser_bd .button{
	display:block;
	width:50px;
	height:27px;
	line-height:27px;
	text-align:center;
	font-size:12px;
	color:#fff;
	margin-top:15px;
	margin-left:42px;
	border-radius:5px;
	background:#54ac8c;
}
.all .phb ul{
	height:27px;
	width:190px;
}
.all .phb li{
	float:left;
	border:1px solid #ccc;
	width:82px;
	height:27px;
	line-height:27px;
	text-align:center;
	font-size:12px;
}
.all .phb .how{
	border-bottom:none;
}
.all .phb .phb_c>div{
	clear:both;
	height:405px;
	display:none;
}
.all .phb .phb_c .sow{
	display:block;
}
.all .phb .phb_c .mai{
	border-bottom:1px solid #ccc;
	width:190px;
	height:70px;
	padding-top:10px;
	font-family:'Microsoft Yahei';
	cursor:pointer;
}
.all .phb .phb_c .mai img,.all .phb .phb_c .mai span,.all .phb .phb_c .mai img{
	float:left;
}
.all .phb .phb_c .mai img{
	margin-right:5px;
}
.all .phb .phb_c .mai div{
	margin-left:5px;
}
.all .phb .phb_c .mai p{
	font-size:12px;
	color:#333;
}
.all .phb .phb_c .mai a{
	color:#333;
}
.all .phb .phb_c .mai a:hover{
	text-decoration:underline;
}
.all .phb .phb_c .mai span{
	font-size:14px;
}
.all .phb .phb_c .mai em{
	color:#54AC8C;
	font-size:15px;
}
.mai span:nth-child(1){
	display:inline-block;
	width:15px;
	height:15px;
	line-height:15px;
	text-align:center;
	background:#54AC8C;
	color:#fff;
}
.shouc a:nth-child(2){
	margin-left:50px;
	color:#333;
}
.shouc a:hover,.introduce a:hover,.xq .jz p a:hover{
	text-decoration:underline;
}
.introduce img{
	border:1px solid transparent;
}
.introduce img:hover{
	border:1px dotted #ccc;
}
.introduce a{
	color:#333;
	font-family:'Microsoft Yahei';
}
.introduce p{
	color:#54AC8C;
	font-size:18px;
	font-family:'Microsoft Yahei';
	margin-top:10px;
}
.introduce p span{
	font-size:14px;
}
.switch_ch{
	width:755px;
}
.empty{
	width:188px;
	height:1000px;
	background:#F6F6F6;
	border:1px solid #e5e5e5;
	border-top:none;
}
.switch_ch>div{
	display:none;
	padding:15px 5px 0 4px;
}
.switch_ch .click_c{
	display:block;
}
/*宝贝详情*/
.xq .jz{
	width:718px;
	height:90px;
	padding:15px;
	border:1px solid #54AC8C;
}
.xq .jz img{
	float:left;
	margin-right:15px;
	border:1px solid #eee;
}
.xq .jz h3,.xq .jz p{
	font-size:12px;
	line-height:20px;
}
.xq .jz h3 span{
	color:#f40;
}
.xq .jz p a{
	color:#2d5a9f;
	font-weight:bold;
}
.xq .canshu{
	width:718px;
	height:100px;
	padding:15px;
	border-bottom:1px solid #eee;
}
.xq .canshu ul{
	padding-left:10px;
	margin-right:60px;
	float:left;
}
.xq .canshu li{
	font-size:12px;
	margin-bottom:8px;
}
/*专享服务*/
.switch_ch .zx{
	width:750px;
	padding-top:40px;
}
.zx h3{
	font-size:12px;
	text-align:center;
	position:relative;
	margin-bottom:30px;
}
.zx h3 span,.zx h3 i{
	display:inline-block;
	width:310px;
	height:8px;
	background:url(../images/zx_1.png) repeat;
	position:absolute;
	top:5px;
}
.zx h3 span{
	left:5px;
}
.zx h3 i{
	right:5px;
}
.zx .seven{
	width:720px;
	height:100px;
	padding-left:30px;
}
.zx .seven img{
	float:left;
	margin-right:15px;
}
.zx .seven div{
	float:left;
	width:650px;
}
.zx .seven h2{
	font-size:20px;
	margin-bottom:3px;
}
.zx .seven p{
	font-size:15px;
	line-height:21px;
}
/*公共区域*/
.public{
	width:750px;
	height:300px;
	margin-top:30px;
	margin-left:10px;
}
.public h2{
	font-size:14px;
	height:20px;
	border-bottom:1px solid #ddd;
}
.public .jiage{
	width:750px;
	height:230px;
	margin-top:20px;
	font-size:12px;
}
.public .jiage span{
	color:#f40;
}
.public .jiage p{
	line-height:20px;
	margin-bottom:20px;
}

.public .kan,.public .maile,.public .lin{
	width:750px;
	height:260px;
	margin-bottom:30px;
	position:relative;
}
.public .title1{
	font-size:14px;
	border-left:4px solid #f40;
	padding-left:10px;
	line-height:20px;
	margin-bottom:15px;
}
.public .bian{
	position:absolute;
	top:15px;
	right:32px;
	font-size:12px;
	font-size:#333;
}
.public .bian div{
	display:inline-block;
	width:11px;
	height:11px;
	line-height:12px;
	text-align:center;
	color:#f40;
	border:1px solid #999;
	font-size:12px;
}
.public .tu div>div{
	float:left;
	margin:0 10px;
	width:162px;
	height:223px;
}
.public .tu>div{
	display:none;
}
.public .tu .nothide{
	display:block;
}
.public .tu img{
	border:1px solid #ddd;
}
.public .tu a:hover{
	text-decoration:underline;
}
.public .tu p{
	color:#f40;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	line-height:24px;
}
.public .tu p i{
	color:#999;
	margin:0 4px;
}
.public .tu p s{
	font-weight:normal;
	color:#999;
}
.public .anquan{
	width:720px;
	height:192px;
	border:1px solid #FFC7B2;
	background:#FFFBF1;
	padding:20px 15px;
}
.public .anquan h4,.public .anquan p{
	float:left;
	font-size:12px;
	margin-bottom:20px;
}
.public .anquan p{
	width:640px;
	margin-left:10px;
	line-height:20px;
}
.public .anquan p span{
	color:#f40;
}
/*右侧导航*/
.nav_right{
	width:40px;
	height:100%;
	background:#ddd;
	position:fixed;
	right:0;
	top:0;
	padding-top:100px;;
	text-align:center;
	font-size:14px;
	line-height:16px;
}
.nav_right i{
	display:inline-block;
	width:40px;
	height:20px;
	margin:10px 0;
	padding:10px 0;
}
.nav_right i:nth-child(1){
	background:url(../images/ww1.png) no-repeat center;
	background-size:50%;
}
.nav_right i:nth-child(5){
	background:url(../images/fankui.png) no-repeat center;
	background-size:50%;
	margin-top:200px;
}
.nav_right a i:nth-child(1){
	background:url(../images/top.png) no-repeat center;
	background-size:50%;
}
.nav_right div i:nth-child(1){
	height:40px;
	padding:0;
	background:url(../images/che1.png) no-repeat center;
	background-size:50%;
}

.nav_right p{
	position:absolute;
	right:40px;
	background:#f40;
	width:85px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	font-size:12px;
	display:none;
}
.p1{
	top:110px;
}
.p2{
	top:180px;
}
body .nav_right .white{
	background:#fff url(../images/ww1.png) no-repeat center;
	background-size:50%
}
body .nav_right div .white1{
	background:#fff url(../images/che1_h.png) no-repeat center;
	background-size:50%
}
body .nav_right .white2{
	background:#fff;
}
body .nav_right .white21{
	background:#fff url(../images/fankui_h.png) no-repeat center;
	background-size:50%;
}
body .nav_right a .white31{
	background:#fff url(../images/top_h.png) no-repeat center;
	background-size:50%;
}






